.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;

    width: 100%;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.final{
    font-size: 20px;
}
.borde{
    border-bottom: 1px dashed #000000;
    width: 83%;
    align-items: center;
    margin-left: 7%;
}
.final-price{
    color: #000000;
}
.cart-check{
    background-color: #f1f1f1;
    font-size: 14px;
    min-height: 100vh;
    padding-left: 5vh !important;
}
.checkout-object{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    color: #2f2f2f;
    border-bottom: 1px solid #4b4b4b;
}
.img-carrito-check{
    max-width: 23% !important;
    aspect-ratio: 19/16 !important;
    object-fit: cover !important;
}
@media screen and (max-width: 667px){
    .view{
        padding-left: 10% !important;
        padding-right: 10%;
    }
    .img-carrito-check{
        max-width: 30% !important;
    }
}
@media screen and (max-width: 1200px){
    .img-carrito-check{
        max-width: 30% !important;
    }
    .view{
        padding-left: 5% !important;
    }
}
.order-form{
    padding-right: 6% !important;
    padding-left: 3% !important;
}

.form-group {
    margin-bottom: 1rem;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
select,
input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 0.5rem 1rem;
    background-color: #2f2f2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
}
button:hover {
    background-color: #565656;
}
/*    --------------- */







